body {
  background-color: #111;
  margin: 0;
}

main {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

canvas {
  border: 4px solid white;
  border-bottom: none;
  background: url('https://pub-f2166e82e8a447aca3e1787fac4b59bd.r2.dev/arkanoid-game/background.png') repeat;
}