---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Proyectos from "@/components/Proyectos.astro";
---

<Layout title="Proyectos de JS">
  <Hero />
  <main>
    <Proyectos />
  </main>
</Layout>
