---
import { PROYECTOS } from "@/consts";
---

<section class="grid min-[500px]:grid-cols-2 md:grid-cols-3 gap-5 p-5 my-10">
  {
    PROYECTOS.map((proyecto) => {
      return (
        <article class="bg-blue-700 rounded-lg overflow-hidden">
          <img
            class="w-full aspect-video object-cover"
            src={proyecto.imagen}
            alt={proyecto.titulo}
          />

          <div class="p-2">
            <h2 class="text-xl font-semibold"> {proyecto.titulo} </h2>
            <p class="text-pretty">{proyecto.descripcion}</p>
          </div>
        </article>
      );
    })
  }
</section>
